<div class="row">
    <h1>Idiomas</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'Español'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [subtitle]="'Nativo'"
            [showSubtitle]="true"
            [subtitleColor]="'#505050'"
            [subtitleFontSize]="'1em'"
            [backgroundColor]="'#a1b5cb'"
            [backgroundPadding]="-12"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#8a2be2'"
            [innerStrokeColor]="'#451571'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [title]="'Inglés'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [subtitle]="'C2 del MCER'"
            [showSubtitle]="true"
            [subtitleColor]="'#505050'"
            [subtitleFontSize]="'1em'"
            [backgroundColor]="'#a1b5cb'"
            [backgroundPadding]="-12"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#8a2be2'"
            [innerStrokeColor]="'#451571'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'Francés'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [subtitle]="'B2 del MCER'"
            [showSubtitle]="true"
            [subtitleColor]="'#505050'"
            [subtitleFontSize]="'1em'"
            [backgroundColor]="'#a1b5cb'"
            [backgroundPadding]="-12"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#8a2be2'"
            [innerStrokeColor]="'#451571'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'Alemán'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [subtitle]="'A2 del MCER'"
            [showSubtitle]="true"
            [subtitleColor]="'#505050'"
            [subtitleFontSize]="'1em'"
            [backgroundColor]="'#a1b5cb'"
            [backgroundPadding]="-12"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#8a2be2'"
            [innerStrokeColor]="'#451571'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>
    </div>    
</div>