div{
    background-color: #00358e;/*#a1b5cb;*/
    min-height: 70px;
}

app-social{
    float: right;
    padding: 10px;
/*    margin-top: 10px;
    margin-bottom: 10px;*/
}

app-logo-ap{
    float: left;
    padding: 10px;
/*    margin-top: 10px;
    margin-bottom: 10px;*/
}