<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>
    <div class="col-lg-10"></div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [imageSrc]="''"
            [title] = "(skill.nombre)"
            [titleColor]="'black'"
            [showTitle]="true"
            [showImage]="false"
            [imageHeight]="70"
            [imageWidth]="70"
            [backgroundColor]="'#a1b5cb'"
            [backgroundPadding]="-12"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#8a2be2'"
            [innerStrokeColor]="'#451571'"
            [animation]="true"
            [animationDuration]="700"
        ></circle-progress>

        <div class="circulo">
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
    
</div>